<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>My Shopping Lists</title>
</head>

<body><br>

<div class="row">
    <div class="col s8 offset-s2">
        <div class="container">

            <div class="right-align">
                <a class="waves-effect waves-light btn-small blue" href="{% url 'logout' %}">Logout</a>
            </div>

            <form method="post" action="{% url 'my_lists' %}">
                {% csrf_token %}
                {{ form.user_id }}
                <div class="file-field">
                    <button type="submit" class="waves-effect waves-light btn">add</button>
                    <div class="file-path-wrapper">
                        {{ form.list_name }}
                    </div>
                    {% if error %}
                        <div class="red-text">
                            <li>{{ error }}</li>
                        </div>
                    {% endif %}
                </div>
            </form>

            <ul class="collection">
                {% for list in shopping_lists.object_list %}
                    <li class="collection-item">
                        <a href="{% url 'shopping_list' list.id %}">{{ list.list_name }}</a>
                        <a href="{% url 'delete_shopping_list' list.id %}" class="secondary-content"><i
                                class="material-icons red-text">remove_circle_outline</i></a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="pagination center-align">
                {% for n in shopping_lists.paginator.page_range %}
                    {% if shopping_lists.number == n %}
                        <li class="waves-effect"><a href="?page={{ n }}">{{ n }}</a></li>
                    {% else %}
                        <li class="disabled waves-effect"><a href="?page={{ n }}">{{ n }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

</body>
</html>