<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{ list_name }} list</title>
</head>

<body><br>

<div class="row">
    <div class="col s8 offset-s2">
        <div class="container">

            <div class="right-align">
                <a class="waves-effect waves-light btn-small blue" href="{% url 'logout' %}">Logout</a>
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <h6>LIST "{{ list_name }}"</h6>
                </div>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="file-field">
                    <button type="submit" class="waves-effect waves-light btn">add</button>
                    <div class="file-path-wrapper">
                        {{ form.item_name }}
                    </div>
                    {% if error %}
                        <div class="red-text">
                            <li>{{ error }}</li>
                        </div>
                    {% endif %}
                </div>
            </form>

            <ul class="collection">
                {% for item in items.object_list %}
                    <li class="collection-item">
                        <div>
                            {{ item.name }}
                            <a href="{% url 'delete_element' shopping_list_id item.id %}" class="secondary-content"><i
                                    class="material-icons red-text">remove_circle_outline</i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <ul class="pagination center-align">
                {% for n in items.paginator.page_range %}
                    {% if items.number == n %}
                        <li class="waves-effect"><a href="?page={{ n }}">{{ n }}</a></li>
                    {% else %}
                        <li class="disabled waves-effect"><a href="?page={{ n }}">{{ n }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="center-align">
                <a class="waves-effect waves-light btn-small" href="{% url 'my_lists' %}">Cancel</a>
            </div>

        </div>
    </div>
</div>

</body>
</html>