<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Registration In Shopping App</title>
</head>
<body>

<div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
    <div class="valign" style="width:100%;">
        <div class="container" id="login_form">
            <div class="row">
                <div class="col s8 offset-s2">
                    <h4 class="center-align">Join to Our Shopping List App</h4>
                    <div class="card-panel">
                        <div class="card-panel blue lighten-2  white-text">
                            <h5>Registration Form:</h5>
                        </div>

                        <form method="post" action="{% url 'registration' %}">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>{{ field.label }}{{ field }}</p>
                                {% if field.errors %}
                                    <div class="red-text">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="center-align">
                                <button type="submit" class="waves-effect waves-light btn center-align blue">Sign Up
                                </button>
                            </div>
                        </form>

                    </div>
                    <div class="center-align">
                        Already registred? <a href="{% url 'login' %}">Login please</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>